  #div {
    position:relative;
    top:30px;
    left: 450px;
    width:;
  }

  #div2 {
  }
.parallax { 
    
    background-image: url("assets/images/sign-in-background.jpeg");
    
    height: 500px; 
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}
h1 {
  font-size:100px;
}

#bottomPage {
    position: static;
    background-color: ;
}

#font {
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    top: 140px;
    left:460px;
    height: 130px;
    width: 370px;
}

#btnLogout {
    position: absolute;
    left: 600px;
}