 .parallax { 
    /* The image used */
    background-image: url("assets/images/sign-in-background.jpeg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

h1 {
  font-size:100px;
}

#txtEmail {
    position:relative;
    left:400px;
    top:30px;
}

#txtPassword {
    position: relative;
    left: 400px;
    top:30px;
}

#btnLogin {
    position: relative;
    left:400px;
    top:30px;
}

#btnSignUp {
    position: relative;
    left:400px;
    top:30px;
}


#quote {
    position: relative;
    top: 400px;
}