html{
  height:100%
}
body{
  height:100%;
  background-color: blue;
}
        
.intro {
  height:100%
}

#mapCanvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  position: absolute;
  top: 20px;
  padding-left: 230px;
}


#copy-right {
  position: absolute;
  z-index: 1;
}

.left{

  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#blue;
  height : 100%;
  color : #000;

}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}

#panel {
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    height:100%;
}


.about{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#000;
  color : #FFF;
  height:100%
}

.image {
  position: relative;
  padding-right: 10px;
  z-index: 1;
}


.location-image {
  padding-left: 10px;
}

.font-logo {
  position: absolute;
  z-index: 2;
  top: 4;
  left: 7;
  filter: invert(100%);
}

h2 {
  text-shadow: 2px 2px #000;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

.col-lg-4 {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
