.weather-panel .temp {
    font-size: 5.9vw;
    margin: 0px;
    line-height: 60px;
}
.weather-panel .supersmall {
    font-size: 9px;
    margin-top: 0px;
    }
.wi {
    font-size: 5.9vw;
    }
.weather-panel .col-sm-6 {
    text-align: center;
    }